<h1>Edit Song</h1>

<form action="/songs/<%= @song.slug %>" method="post">
<h2>Song Name:</h2>
<input type="text" name="Name" id="song_name" value="<%= @song.name %>">
<input id="hidden" type="hidden" name="_method" value="patch">
<h2>Artist Name:</h2>
<input type="text" name="artist_name" id="Artist Name" value="<%= @song.artist.name %>">
<h2>Genres: </h2>
<% @genres.each do |genre| %>
<input type="checkbox" name="song[genre_ids][]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %><br>
<% end %>
<button type="submit" name="Save">Save</button>
</form>
